{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
   
 </head>
 <body class="goto-here">
       

   <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
     <div class="container">
       <div class="row no-gutters slider-text align-items-center justify-content-center">
         <div class="col-md-9 ftco-animate text-center">
             <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Change Password</span></p>
           <h1 class="mb-0 bread">Change Password</h1>
         </div>
       </div>
     </div>
   </div>

   <section class="ftco-section contact-section bg-light">
     <div class="container">
        
       <div class="row block-8">
         <div class="col-md-9 offset-md-1 order-md-last d-flex">
        
           <form action="{% url 'change_password' %}" Method="post" class="bg-white p-5 contact-form">
             {% csrf_token %}
             <div class="form-group">  
              {% if msg %}
                 <h4 style="color:orange;"> {{msg}} </h4>
                {% endif %}
            
            </div>
            
             <div class="form-group">
                <label>Current Password<span class="text-danger"> * </span></label>
                <input type="text" class="form-control" placeholder="Enter Your Password" name="oldpassword">
              </div>
            
             <div class="form-group">
                <label>New Password <span class="text-danger"> * </span></label>
                <input type="text" class="form-control" placeholder="Enter Your Password" name="newpassword">
              </div>

              <div class="form-group">
                <label>Confirm Password <span class="text-danger"> * </span></label>
                <input type="text" class="form-control" placeholder="Enter Your Password" name="cnewpassword">
              </div>

              <h5>For security reason, updating your pasword will require you to re-login.</h5>
              
             <div class="form-group">
               <input type="submit" value="Change Password" class="btn btn-primary py-3 px-5">
             </div>
           </form>
         
         </div> 
       </div>
     </div>
   </section> 
  
   
 </body>
</html>

{% endblock %}